@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* banner section style starts here */
.banner-container {
  max-width: 1320px;
  margin: 0 auto;
  margin-top: 20px;
  min-height: 600px;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(../images/Banner\ Image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
.banner-content {
  display: flex;
  height: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-content p {
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}
.banner-content h1 {
  color: #ffffff;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  text-align: center;
}

/*second section styles starts here */
.second-section-container {
  width: 802px;
  height: 806px;
  margin: 0 auto;
  margin-top: 90px;
}
.image-container {
  width: 802px;
  height: 500px;
}
.image-container img {
  height: 100%;
  width: 100%;
}
.second-section-content h1 {
  font-size: 88px;
  font-weight: 700;
  color: #ff0000;
  text-align: center;
  margin-bottom: 48px;
}
.second-section-content p {
  font-size: 24px;
  font-weight: 500;
  color: #ff0000;
  text-align: center;
}
.second-section-content h3 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.second-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
